doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  body
    div
      <a href="/">Restaurants</a>
      <a href="/meta">Search Grid</a>
    block content
